<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<Module>
   <ModulePrefs author="Andrey Bolshov" author_email="asnow.dev@gmail.com" width="100%" height="100%" title="TestWidgets" version="1.0">
   </ModulePrefs>
   <Content content-type="text/html" type="html">
       <![CDATA[
          <script language="javascript" type="text/javascript">
              gadgets.util.registerOnLoadHandler(function(){
                var param = new gadgets.Prefs(__MODULE_ID__).getString("portalBaseUrl");
                console.log('Prefs параметр portalBaseUrl равен: ' + param);
                document.getElementById("MODULE_ID").innerHTML = param;
              });
          </script>
          <div>Prefs параметр portalBaseUrl равен: <span id="MODULE_ID">PARAM</span></div>
       ]]>
   </Content>

</Module>