<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<Module>
   <ModulePrefs author="Andrey Bolshov" author_email="asnow.dev@gmail.com" width="100%" height="100%" title="TestWidgets" version="1.0">
      <Require feature="views"/>
   </ModulePrefs>
   <Content content-type="text/html" type="html" view="old">
       <![CDATA[
        <div>
          Old view 1
        </div>
       ]]>
   </Content>

   <Content content-type="text/html" type="html" view="new">
       <![CDATA[
        <div>
          New view 2
        </div>
       ]]>
   </Content>

</Module>